* {
  --blue-bg: rgb(228, 247, 253);
}

header {
  background-color: #ff7800;
  width: 100%;
  height: 100px;
  color: white;
  display: flex;
  justify-content: space-between;
}

header img {
  width: 75px;
  height: auto;
  margin: 1rem;
}
.header {
  display: flex;
  align-items: center;
  flex-wrap: column;
}
.header p {
  margin: 0;
}
nav {
  flex-direction: row;
}
.input-group {
  margin: 0 auto;
  width: 50%;
}
.purple {
  background-color: var(--bs-purple);
}

.container {
  margin-top: 1rem;
}
.img {
  height: 15rem;
}
.bluebg {
  background-color: var(--blue-bg);
}
.uitleg {
  display: flex;
  width: 70%;
  margin: 0 auto;
  padding: 2rem;
}
.text {
  padding-left: 2rem;
}
.search {
  margin-top: 1rem;
}
a {
  text-decoration: none;
}
